body.modal-opened {
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-container {
    flex: 0 0 auto;
    margin: auto;
}


.modal-container .modal-content {
    overflow: auto;
}

.modal-container:not(.modal-attached) {
    display: none;
    opacity: 0;
}