.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-container .slides {
    width: 100%;
    transition: all 0.5s;
}

.slider-container .slider-prev,
.slider-container .slider-next {
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 1;
    background-size: 6px 10px;
}

.slider-container .slider-prev:hover,
.slider-container .slider-next:hover {
    opacity: 0.5;
}


.slider-container .slider-prev {
    background: url('../images/chevron-left.svg') no-repeat 0 0;
    transform: translateX(calc(-100% - 5px)) translateY(50%);
    left: 5px;
}

.slider-container .slider-next {
    background: url('../images/chevron-right.svg') no-repeat 0 0;
    transform: translateX(calc(100% + 5px)) translateY(50%);
    right: 5px;
}

.slider-container:hover .slider-prev,
.slider-container:hover .slider-next {
    transform: translateX(0) translateY(50%);
}
